<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Sample Card</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        </div>
        <div class="card-body">
          <p>"Mr.Bunli test to night"</p>
          <p>" or kun test second time"</p>
          <p>Mr Mao Ray is OK!!</p>
          <p>Mr Mao Ray is OK!! second time</p>
          <p>ok</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->